svg .backgroundLink{
  fill:none;
  stroke-width:3;
  stroke: rgba(47, 67, 114);
}

.index-header{
  position:fixed;
  width:100%;
  height:70px;
  border:"1px solid #eee";
  background-color: aliceblue;
  padding-left:20px;
  top:0px;
  left:0px;
}

.left-nav{
  ul{
    position:fixed;
    top: 60px;
    list-style:none;
    cursor:pointer;
  }
}

.nodeRect{
  z-index: 10;
}

